.hero__section {
    padding-top: 10rem; /* Mesmo tamanho do header mais o adicional que quer*/
}

.hero__wrapper{
    display: flex;
    justify-content: space-between;
}

.hero__img {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 40rem;
    animation: smart 1s cubic-bezier(.39,.69,.01,.82);
}

@keyframes smart{
    0%{
       opacity: 0;
       transform: translateX(50px);
    }
    100%{
      opacity: 1;

    }
}

.hero__content{
    padding-top: 3rem;
    margin-bottom: 3rem;
    animation: content .8s cubic-bezier(.39,.69,.01,.82);
}
@keyframes content{
    0%{
       opacity: 0;
       transform: translateX(-40px);
    }
    100%{
      opacity: 1;

    }
}
.hero__content h2 {
    font-size: 3rem;
    line-height: 4rem;
}


.hero__content p {
    margin-top: 40px;
    font-size: 18px;
    text-align: justify;
}

.highlight{
    color: var(--primary-color);
}

.hero__btns{
    margin-top: 40px;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}


.imgCelular {
    width: 100%;
    max-width: 350px;
}


@media (max-width: 991px) { 
    .justifyCenterMD {
        display: flex;
        justify-content: center;
    }   
    .textAlignCenterMD {
        text-align: center;
    }  
    
    .navigationMobile {
        display: flex;
        justify-content: center;
    }

    .navigationDesktop {
        display: none;
    }

    .logo {
        justify-self: center;
    }

    .hero__section {
        padding-top: 8rem;
    }
}

@media (max-width: 450px) { 
    .hero__section {
        padding-top: 5rem;
    }
}