@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --body-bg: rgba(6, 11, 11, 1);
  --body-bg-2: #012a15;
  --body-bg-3: #daf7bb;

  --heading-color: #fff;

  
  --btn-primary-bg: #008b45;
  --btn-secondary-bg: #009b4d;
  --btn-hover-bg: #0ad16e;
  
  --primary-color: #00c160;
  --team-card-bg: #005028;
  
  --link-color: #fff;
  --link-hover: #e4e4e4;
  --link-active: #00c160;
  
  --link-2-color: #ddd;
  --link-2-hover: #666;

  --shadow: #e4e4e4;
  --shadow-secondary: #e4e4e4;

  --footer-color: #222;
  
  --header-bg: var(--body-bg);
  --header-shadow: rgba(23, 82, 8, 0.37);

  --burger-color: #fff;
  --burger-link-color: #fff;

  --problema-card-color: #fff;

  --card-bg: linear-gradient(
    90deg,
    rgb(34, 59, 40) 38%,
    rgb(27, 49, 26) 100%,
    rgb(15, 29, 19) 20%
  );
  --counter-color: linear-gradient(
    90deg,
    #02bba6 30%,
    rgba(29, 129, 176, 1) 55%,
    rgb(35, 173, 81) 75%
  );
  --newsletter-bg: linear-gradient(
    90deg,
    rgb(10, 122, 44) 20%,
    rgb(6, 80, 22) 38%,
    rgb(5, 26, 4) 100%
  );
  --testimonial-bg: #1a0f4f;
  --font-name: "Roboto", sans-serif;
  --small-text-color: rgba(255, 255, 255, 0.774);
  --icon-bg:#151e4f;
  --footer-color: #c4c4c4;


}

.light-theme {
  --body-bg: #def7e7;
  --body-bg-2: #fff;
  --body-bg-3: #d6efba;


  --heading-color: #191919;

  --btn-secondary-bg: #008f47;
  --btn-primary-bg: #009b4d;
  --btn-hover-bg: #07b65f;

  --primary-color: #20b169;
  --counter-color: #fff;
  --counter-section-bg: #009b4d;

  --link-color: #009b4d;
  --link-hover: #005028;
  --link-active: #005028;
  
  --link-2-color: #222;
  --link-2-hover: #666;

  --shadow: #444;
  --shadow-light: #ccc;
  --shadow-secondary: #34c37b;

  --footer-color: #6e6e6e;

  --problema-card-color: #000;


  --newsletter-bg: linear-gradient(
    180deg,
    rgba(189, 243, 255, 1) 29%,
    rgba(193, 243, 255, 1) 50%,
    rgba(226, 250, 255, 1) 78%
  );
  --small-text-color:#000;
  --card-bg:#fff;
  --testimonial-bg: #f7f7f7;
  --team-card-bg: #fff;

  --header-bg: #fff;
  --header-shadow: #fff;
  --header-shadow: rgba(23, 82, 8, 0.37);

  --burger-color: var(--primary-color);
  --burger-link-color: #fff;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 10px;
  }

  .primary__btn {
    font-size: 1.3rem !important;
  }
}

body{
    background: var(--body-bg);
    font-family: var(--font-name);
  
}

a{
    text-decoration: none;
    color: var(--link-color);
}


h1,h2{
    color: var(--heading-color);
}

section{
  padding: 5rem 0px;
}


.description{
  color: var(--small-text-color);
  line-height: 30px;
  font-size: .9rem;
}

::-webkit-scrollbar {
  width: 10px;           
}
::-webkit-scrollbar-thumb {
  background-color: #008b45;  
      

}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-in-out, transform .6s ease-in-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.primary__btn, .secondary__btn{
  padding: 0.8rem 1.5rem;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 0.2rem;
  cursor: pointer;
}

.primary__btn{
  background: var(--btn-primary-bg);
  border: 1px solid var(--btn-secondary-bg);
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1rem;
}

.primary__btn:hover {
background: var(--btn-secondary-bg);
box-shadow: 0px 0px 5px 1px var(--shadow-secondary)
}

.secondary__btn{
  background: var(--btn-primary-bg);
}
