@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");


:root {
  --primary-color: #00c160;
  --heading-color: #fff;

  --btn-primary-bg: #008b45;
  --btn-secondary-bg: #009b4d;
  --btn-hover-bg: #0ad16e;

  --team-card-bg: #005028;
  
  --link-color: #fff;
  --link-hover: #e4e4e4;
  --link-active: #00c160;
  
  --link-2-color: #ddd;
  --link-2-hover: #fff;

  --shadow: #e4e4e4;
  --shadow-secondary: #e4e4e4;
  
  --body-bg: rgba(6, 11, 11, 1);
  --body-bg-2: #012a15;

  
  --header-bg: var(--body-bg);
  --header-shadow: rgba(0,0,0,0);

  --card-bg: linear-gradient(
    45deg,
    rgba(15, 18, 61, 1) 33%,
    rgba(15, 18, 61, 1) 52%,
    rgba(11, 41, 69, 1) 84%
  );
  --counter-color: linear-gradient(
    90deg,
    #02bba6 30%,
    rgba(29, 129, 176, 1) 55%,
    rgb(35, 173, 81) 75%
  );
  --newsletter-bg: linear-gradient(
    90deg,
    rgba(27, 9, 115, 1) 20%,
    rgba(23, 9, 96, 1) 38%,
    rgba(14, 9, 56, 1) 100%
  );
  --testimonial-bg: #1a0f4f;
  --font-name: "Roboto", sans-serif;
  --small-text-color: rgba(255, 255, 255, 0.774);
  --icon-bg:#151e4f;

}

.light-theme {
  --body-bg: #def7e7;
  --body-bg-2: #fff;
  --heading-color: #191919;

  --btn-secondary-bg: #008f47;
  --btn-primary-bg: #009b4d;
  --btn-hover-bg: #07b65f;

  --primary-color: #20b169;
  --counter-color: #fff;
  --counter-section-bg: #009b4d;

  --link-color: #009b4d;
  --link-hover: #07b65f;
  --link-active: #009b4d;
  
  --link-2-color: #222;
  --link-2-hover: #666;

  --shadow: #444;
  --shadow-secondary: #34c37b;

  --newsletter-bg: linear-gradient(
    180deg,
    rgba(189, 243, 255, 1) 29%,
    rgba(193, 243, 255, 1) 50%,
    rgba(226, 250, 255, 1) 78%
  );
  --small-text-color:#000;
  --card-bg:#fff;
  --testimonial-bg: #f7f7f7;
  --team-card-bg: #fff;

  --header-bg: #fff;
  --header-shadow: #fff;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    background: var(--body-bg);
    font-family: var(--font-name);
  
}

a{
    text-decoration: none;
    color: var(--link-color);
}


h1,h2{
    color: var(--heading-color);
}

section{
  padding: 60px 0px;
}


.container{
  width: 1140px;
  padding: 0px 15px;
  margin: auto;
}


.description{
  color: var(--small-text-color);
  line-height: 30px;
  font-size: .9rem;
}

::-webkit-scrollbar {
  width: 12px;           
}
::-webkit-scrollbar-thumb {
  background-color: #008b45;  
  border-radius: 20px;     

}